* {
    font-family: 'roboto', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .row1, .row2 {
    display: flex;
    width: 100%;
  }
  
  div {
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition: transform 2s ease-in-out;
  }
  
  #first {
    background: red;
  }
  
  #second {
    background: yellow;
  }
  
  #third {
    background: green;
  }
  
  #fourth {
    background: blue;
  }
  .main:hover #first{
    transform: rotate(90deg) translateY(250px);
  }
  .main:hover #second{
    transform: rotate(-90deg) translateY(250px);
  }
  .main:hover #third{
    transform: rotate(90deg) translateY(250px);
  }
  .main:hover #fourth{
    transform: rotate(-90deg) translateY(250px);
  }
  

 