* {
  font-family: 'roboto', arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #050707;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background:linear-gradient(rgb(67,124,205),rgb(38, 187, 130));
}

header {
  text-align: center;
  padding: 32px 16px;
  background:linear-gradient(rgb(248, 212, 4),rgb(221, 64, 130));
  position: fixed;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 175px;
}

article {
  padding: 16px;
}

section {
  padding: 16px
}

.sectionImage {
  width: 100%;
  border-radius: 20px;
  box-shadow: #9e9e9e;

}

.sectionImage:hover {
  transform: scale(1.2);
}

h2,p,a {
  padding: 8px 0px;
}

a {
  color: blue
}

a:hover {
  color: blueviolet;
}

a:active {
  color: burlywood;
}

.formSection {
  display: flex;
  justify-content: center;
}

form {
  min-width: 450px;
  border: 2px solid #0c0c0c;
  padding: 32px;
  border-radius: 5%;
  padding-top: 16px;
}

.formTitle {
  text-align: center;
  padding: 16px 0px;

}

label {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

input,select {
  min-height: 30px;
  padding: 4px;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #9e9e9e;
  width: 50%;
}

select {
  width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
  min-height: 12px;
  width: auto;
}

.agreeCheckbox {
  display: block
}

button {
  cursor: pointer;
  padding: 8px 16px;
  background: royalblue;
  border: none;
  outline: none;
  margin-top: 8px;
  color: #FFFFFF;
  border-radius: 5px;
}

button:hover {
  background: blue;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding-top: 32px;
}
@media only screen and (max-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  main {
    grid-template-columns: 1fr;
  }
  form {
    min-width: 300px;
    padding: 8px;
  }
}